{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "eslint:all",
    "plugin:vue/base",
    "plugin:vue/vue3-recommended"
  ],
  "parserOptions": {
    "parser": "@babel/eslint-parser"
  },
  "rules": {
    "array-bracket-spacing": [
      1,
      "always",
      {
        "singleValue": false,
        "objectsInArrays": false,
        "arraysInArrays": false
      }
    ],
    "array-bracket-newline": [1, "consistent"],
    "array-element-newline": [1, "consistent"],
    "comma-dangle": [1, "always-multiline"],
    "complexity": 0,
    "dot-location": [1, "property"],
    "eqeqeq": 0,
    "func-style": [1, "declaration"],
    "function-paren-newline": [1, "consistent"],
    "function-call-argument-newline": [1, "consistent"],
    "id-length": [1, {"exceptions": ["_"]}],
    "indent": [1, 2],
    "init-declarations": 0,
    "line-comment-position": 0,
    "lines-around-comment": 0,
    "lines-between-class-members": [1, "always", { "exceptAfterSingleLine": true }],
    "max-depth": 0,
    "max-len": 0,
    "max-lines": 0,
    "max-lines-per-function": 0,
    "max-params": 0,
    "max-statements": 0,
    "multiline-ternary": [1, "always-multiline"],
    "no-bitwise": 0,
    "no-control-regex": 0,
    "no-console": 1,
    "no-continue": 0,
    "no-implicit-coercion": [1, {"allow": ["+"]}],
    "no-inline-comments": 0,
    "no-labels": 0,
    "no-magic-numbers": [0, {"ignoreArrayIndexes": true , "ignore": [0,1]}],
    "no-mixed-operators": 0,
    "no-plusplus": 0,
    "no-ternary": 0,
    "no-undefined": 0,
    "no-use-before-define": 0,
    "no-warning-comments": 0,
    "object-curly-spacing": [1, "always"],
    "object-property-newline": [1, {"allowAllPropertiesOnSameLine": true}],
    "one-var": [1, "never"],
    "padded-blocks": [1, "never"],
    "quote-props": [1, "as-needed"],
    "quotes": [1, "single"],
    "semi": [1, "never"],
    "sort-imports": [1, {"ignoreDeclarationSort": true}],
    "sort-keys": 0,
    "vue/array-bracket-newline": [1, "consistent"],
    "vue/array-bracket-spacing": 1,
    "vue/arrow-spacing": 1,
    "vue/block-spacing": 1,
    "vue/block-tag-newline": 1,
    "vue/brace-style": 1,
    "vue/camelcase": 1,
    "vue/comma-dangle": [1, "always-multiline"],
    "vue/comma-spacing": 1,
    "vue/comma-style": 1,
    "vue/component-name-in-template-casing": 1,
    "vue/custom-event-name-casing": 1,
    "vue/dot-location": [1, "property"],
    "vue/dot-notation": 1,
    "vue/func-call-spacing": 1,
    "vue/html-button-has-type": 1,
    "vue/html-comment-content-newline": 1,
    "vue/html-comment-content-spacing": 1,
    "vue/html-comment-indent": 1,
    "vue/html-self-closing": [1, { "html": { "void": "always" }}],
    "vue/key-spacing": 1,
    "vue/keyword-spacing": 1,
    "vue/new-line-between-multi-line-property": 1,
    "vue/no-constant-condition": 1,
    "vue/no-empty-component-block": 1,
    "vue/no-empty-pattern": 1,
    "vue/no-extra-parens": 1,
    "vue/no-invalid-model-keys": 1,
    "vue/no-irregular-whitespace": 1,
    "vue/no-multiple-objects-in-class": 1,
    "vue/no-restricted-syntax": 1,
    "vue/no-sparse-arrays": 1,
    "vue/no-static-inline-styles": 1,
    "vue/no-template-target-blank": 1,
    "vue/no-unregistered-components": 1,
    "vue/no-unused-properties": 1,
    "vue/no-unused-refs": 1,
    "vue/no-use-computed-property-like-method": 1,
    "vue/no-useless-concat": 1,
    "vue/no-useless-mustaches": 1,
    "vue/no-useless-v-bind": 1,
    "vue/no-v-html": 0,
    "vue/object-curly-newline": 1,
    "vue/object-curly-spacing": [1, "always"],
    "vue/object-property-newline": [1, {"allowAllPropertiesOnSameLine": true}],
    "vue/operator-linebreak": 1,
    "vue/padding-line-between-blocks": 1,
    "vue/prefer-template": 1,
    "vue/require-default-prop": 0,
    "vue/script-indent": 1,
    "vue/space-in-parens": 1,
    "vue/space-infix-ops": 1,
    "vue/space-unary-ops": 1,
    "vue/static-class-names-order": 1,
    "vue/template-curly-spacing": 1,
    "vue/v-for-delimiter-style": 1,
    "vue/v-on-function-call": 1
  }
}
