body {
  background-color: #000;
  color: #fff;
  font-family: monospace;
}

button, .upload-label {
  background: #fff1;
  border: #444 solid 2px;
  border-radius: 4px;
  box-shadow: #0008 0 0;
  color: #fff;
  font-family: monospace;
  font-size: medium;
  margin: 2px;
  padding: 2px;
  transition: .2s;
  user-select: none;
}

button:focus, .upload-label:focus {
  border: #ccc solid 2px;
  outline: none;
}

button:hover, .upload-label:hover {
  background: #fff2;
  box-shadow: #0008 2px 2px;
}

button:active, .upload-label:active {
  border: #000 solid 2px;
}

.box, .file-info {
  background: #8881;
  border-radius: 8px;
  transition: .2s;
}

.box {
  box-shadow: #4448 0 0;
  margin: 2px;
  overflow: visible;
  padding: 1px;
}

.box:hover {
  background: #8882;
  box-shadow: #4448 0 0 0 2px, #0008 0 0;
}

.box:active {
  box-shadow: #000 0 0 0 2px, #0008 4px 4px;
}

.file-info {
  border: #4448 solid 2px;
  box-shadow: #fff4 2px 2px;
  padding: 4px 8px;
  width: fit-content;
}

.file-info:hover {
  background: #8884;
  border: #8888 solid 2px;
  box-shadow: #fff8 4px 4px;
}

.error {
  background-color: #f448;
  border: #400 solid 2px;
  box-shadow: #f444 2px 2px;
  margin-block: 4px;
  padding: 2px 6px;
  width: fit-content;
}

.error:hover {
  background-color: #f44;
  box-shadow: #f448 4px 4px;
}

.flex {
  display: flex;
}

.flex--align-right {
  justify-content: end;
  margin-left: auto;
}

.width-50 {
  width: 50%;
}

.sub-blocks {
  margin-inline-start: 3rem;
}

.block-start-end {
  margin-right: 1rem;
  padding-right: .2rem;
  text-align: end;
  width: 4rem;
}

.upload-input {
  display: none;
}

.button-icon {
  line-height: 16px;
  height: 24px;
}

.button-icon span {
  margin-left: 2px;
  position: relative;
  top: -3px;
}

.window-container {
  height: 0;
}

.window {
  background: #222;
  border: #000 solid 2px;
  border-radius: 8px;
  box-shadow: #0004 4px 4px;
  margin: 2px;
  overflow: auto;
  padding: 4px;
  position: relative;
  top: -2.5em;
  left: 51vw;
  transition: .2s;
  word-wrap: break-word;
  width: 16em;
  height: 16em;
}

.window:hover {
  background: #000;
  border-radius: 6px;
  box-shadow: #0008 8px 8px;
  z-index: 1;
}

.window:active {
  border: #ccc solid 2px;
  border-radius: 2px;
  box-shadow: #ccc 4px 4px, #ccc 3px 3px, #ccc 2px 2px, #ccc 1px 1px;
}

.drop-area {
  outline: dashed 8px #fff8;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  transition: .2s;
  z-index: -1;
  width: 100%;
  height: 100%;
}

body:hover .drop-area {
  border-radius: 4em;
  outline-offset: -3em;
  opacity: 1;
}

::selection {
  background: #ccc4;
}

::-webkit-scrollbar {
  background: transparent;
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:active {
  background: #ccc;
  border-radius: 0;
}

::-webkit-resizer {
  background: #444;
  border-top-left-radius: 16px;
}
