body {
  background-color: black;
  color: white;
}
.bordered {
  border: solid 1px;
}

.flex {
  display: flex;
}

.flex--align-right {
  margin-left: auto;
}

.error {
  background-color: red;
  color: black;
}

.width-50 {
  width: 50%
}
